<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <beanA id="beanB1" class="pl.jrola.training.ch2.BeanB">
        <constructor-arg value="instance 1" />
    </beanA>

    <beanA id="beanB2" class="pl.jrola.training.ch2.BeanB">
        <constructor-arg value="instance 2" />
    </beanA>

    <beanA id="beanA1" class="pl.jrola.training.ch2.BeanA">
        <constructor-arg ref="beanB1"/>
    </beanA>

    <beanA id="beanA2" class="pl.jrola.training.ch2.BeanA">
        <property name="beanB" ref="beanB2"/>
    </beanA>

</beans>